body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

.box {
    background: white;
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.result {
    margin-top: 15px;
    font-weight: bold;
}

.error {
    color: red;
}